<ion-header>
  <ion-toolbar>
    <ion-title>
      Currency Converter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>From:</ion-label>
      <ion-select [(ngModel)]="fromCurrency">

        <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>To:</ion-label>
      <ion-select [(ngModel)]="toCurrency">

        <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Amount:</ion-label>
      <ion-input [(ngModel)]="amount" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Converted Amount:</ion-label>
      <ion-input [(ngModel)]="convertedAmount" readonly></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>New Currency:</ion-label>
      <ion-input [(ngModel)]="newCurrency"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="convert()">Convert</ion-button>
    <ion-button expand="full" (click)="addCurrency()">Add Currency</ion-button>
  </ion-list>
</ion-content>